/* Common style */
.header {
  background-color: #0E2CA9;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 600px) {
  #title {
    color: white;
    font-size: 3.5rem;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 599px) {
  #title {
    color: white;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header-logo-cont {
    width: 70%;
    margin: auto;
  }
}
#logo {
  width: 10rem;
}

.col-6 {
  margin: auto;
}

.header {
  display: flex;
}

#header-left {
  margin: auto;
}

#header-center {
  margin: auto;
}

#header-right {
  margin: auto;
}

.navbar-nav {
  margin: auto;
  font-size: 0.9rem;
  font-family: monaco;
}

.navbar-cont {
  background-color: #f0f0f0;
  margin-bottom: 2rem;
}

.nav-item {
  margin-right: 3rem;
}

.nav-item:hover {
  margin-right: 3rem;
  background-color: rgb(183, 183, 183);
}

/* General body style */
html {
  visibility: visible !important;
}

body {
  width: 90%;
  margin: auto;
  border-style: solid;
  border-color: rgb(229, 224, 224);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 599px) {
  .footer-img {
    width: 80%;
  }
  .footer {
    display: flex;
    padding: 1rem;
    background-color: #f0f0f0;
  }
  .footer-img-cont {
    display: flex;
    margin: auto;
    margin: auto;
    text-align: center;
  }
  .footer-links {
    margin: auto;
  }
}
@media (min-width: 600px) {
  .footer {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #f0f0f0;
  }
  .footer-img-cont {
    margin: auto;
    display: flex;
    text-align: center;
  }
  .footer-links {
    margin: auto;
  }
}
/* Index page style */
@media (max-width: 599px) {
  .index-cont {
    flex-direction: column;
    margin: auto;
  }
  .index-text-cont {
    margin-top: 2rem;
    text-align: justify;
  }
}
@media (min-width: 600px) {
  .index-cont {
    display: flex;
    flex-wrap: wrap;
  }
  #index-carousel {
    width: 48%;
    margin: auto;
  }
  .index-text-cont {
    width: 48%;
    text-align: justify;
    margin: auto;
  }
}
/* Equipes page style */
#equipes-accordion {
  width: 90%;
  margin: auto;
  border-style: ridge;
}

.accordion-item {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .accordion-button {
    font-size: 1.3rem;
    width: 100%;
  }
  .accordion-header {
    width: 100%;
  }
  .accordion-body {
    display: flex;
  }
  .equipe-accordion-img-cont {
    width: 50%;
    text-align: center;
  }
  .equipe-accordion-text-cont {
    width: 50%;
    margin: auto;
  }
  .equipe-accordion-text-cont {
    text-align: justify;
    margin-left: 1rem;
  }
}
@media (max-width: 599px) {
  .accordion-button {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
  .accordion-header {
    width: 100%;
  }
  .accordion-body {
    flex-direction: column;
  }
  .equipe-accordion-img-cont {
    width: 100%;
    text-align: center;
  }
  .equipe-accordion-text-cont {
    text-align: justify;
    margin-top: 1rem;
  }
}
/* Encarants page style*/
#encadrants {
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .card-img-top {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 599px) {
  .card-img-top {
    width: 80%;
    margin-top: 1rem;
  }
}
/* Contact page style */
@media (min-width: 600px) {
  .contactForm {
    width: 60%;
    margin: auto;
    display: block;
    border-style: ridge;
    padding: 1.5rem;
    border-color: rgb(235, 236, 236);
  }
  .input-group {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 599px) {
  .contactForm {
    width: 100%;
    margin: auto;
    display: block;
    border-style: ridge;
    padding: 1.5rem;
    font-size: 1rem;
    border-color: rgb(235, 236, 236);
  }
  .input-group-text {
    font-size: 0.7rem;
  }
  .form-control {
    font-size: 0.7rem;
  }
  #contact-btn {
    font-size: 1rem;
  }
  .input-group {
    margin-bottom: 1.5rem;
  }
}
.input-group-text:after {
  content: " *";
  color: red;
}

.btn {
  margin-top: 1rem;
}

/* Style histoire page */
.container-histoire {
  margin: auto;
  width: 70%;
}

.histoire-p {
  text-align: justify;
  font-size: 2vh;
}

.histoire-h {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 4vh;
}

.card {
  width: 18rem;
  display: inline-block;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.calendrier-row {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  margin: 2rem;
  width: 40%;
}

#score {
  display: inline-flex;
}

.team-name {
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

#calendrier {
  width: 100%;
}

.score {
  margin: auto;
}

.calendar {
  text-align: center;
  width: 60%;
  margin: auto;
}

.score-card {
  margin-top: 2rem;
  border-style: ridge;
  display: flex;
}

#score {
  font-size: 4rem;
}

.btn {
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* Style for ressources page */
@media (min-width: 600px) {
  .ressource-cont {
    margin: auto;
  }
  .ressources-download {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .telecharger-elem {
    font-size: 2rem;
    margin: auto;
    background-color: rgb(242, 238, 238);
    text-align: center;
  }
}
@media (max-width: 599px) {
  .ressource-cont {
    flex-direction: column;
    margin: auto;
  }
  .ressources-download {
    margin: auto;
    margin-bottom: 2rem;
  }
  .telecharger-elem {
    font-size: 1.5rem;
    margin: auto;
    background-color: rgb(242, 238, 238);
    text-align: center;
  }
}
.telecharger-elem:hover {
  cursor: pointer;
}

.ressource-link {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
